/* line 1, ../sass/docs.scss */
.iphone-frame {
  height: 568px;
  border: 0px;
  overflow-y: hidden;
}
/* line 5, ../sass/docs.scss */
.iphone-frame .sg-phone--content {
  height: 504px;
  overflow-y: scroll;
}

/* line 11, ../sass/docs.scss */
.appiphony-brand {
  width: 132px;
  opacity: .3;
}

/* line 17, ../sass/docs.scss */
ol ol, ol ul, ul ol, ul ul {
  padding-left: 20px;
}
