<head>
    <link href="../../stylesheets/app.css" rel="stylesheet" type="text/css">
    <link href="../../stylesheets/docs.css" rel="stylesheet" type="text/css">
</head>

<body class="iphone-frame">




<header class="bg-1 ht-44 ng-isolate-scope fixed-bottom bot-t" role="group">
    <ul class="w-100p fl man pan list-horizontal ht-44 tc">
        <li class="pos-rel fl ht-44 size-1of5">
            <a href="javascript:void(0)" title="Navigation" class="phm ht-44 pam">
                <span class="icon-utility-chat active--icon-1 text-color-3"></span>
                <span class="tha">Navigation</span>
            </a>
        </li>
        <li class="pos-rel fl ht-44 size-1of5">
            <a href="javascript:void(0)" title="Navigation" class="phm ht-44 pam">
                <span class="icon-utility-call active--icon-1 text-color-3"></span>
                <span class="tha">Navigation</span>
            </a>
        </li>
        <li class="pos-rel fl ht-44 size-1of5">
            <a href="javascript:void(0)" title="Navigation" class="phm ht-44 pam">
                <span class="icon-utility-check active--icon-1 text-color-3"></span>
                <span class="tha">Navigation</span>
            </a>
        </li>
        <li class="pos-rel fl ht-44 size-1of5">
            <a href="javascript:void(0)" title="Navigation" class="phm ht-44 pam">
                <span class="icon-utility-adduser active--icon-1 text-color-3"></span>
                <span class="tha">Navigation</span>
            </a>
        </li>
        <li class="pos-rel fl ht-44 size-1of5">
            <a href="javascript:void(0)" title="Navigation" class="phm ht-44 pam">
                <span class="icon-utility-3dots active--icon-1 text-color-3"></span>
                <span class="tha">Navigation</span>
            </a>
        </li>
    </ul>
</header>

<div class="ht-20 w-100p bg-primary">
    <img src="../../stylesheets/assets/iphone-status-bar-white.png" width="320">
</div>
<section class="sg-phone--header ht-44 clear">
    <header class="bg-primary ht-44 ng-isolate-scope" role="group">
        <ul class="fl man pan list-horizontal ht-44">
            <li class="pos-rel fl ht-44">
                <a href="javascript:void(0)" title="Navigation" class="phm ht-44 pam">
                    <span class="icon-utility-rows active--icon-1 text-color-5"></span>
                    <span class="tha">Navigation</span>
                </a>
            </li>
        </ul>
        <ul class="fr man pan list-horizontal ht-44">
            <li class="pos-rel fl ht-44">
                <a href="javascript:void(0)" title="Search" class="phm ht-44 pam">
        <span class="icon-utility-search active--icon-1 text-color-5">
        </span>
                    <span class="tha">Search</span>
                </a>
            </li>
            <li class="pos-rel fl ht-44">
                <a href="javascript:void(0)" title="Notifications" class="phm ht-44 pam">
        <span class="icon-utility-notification active--icon-1 text-color-5 notifications" data-notification-count="">
        </span>
                    <span class="tha"> Notifications</span>
                </a>
            </li>
        </ul>
    </header>
</section>
<section class="sg-phone--content scrollable bg-2 clear ng-scope">
<header class="bg-4 tc ptl phm ng-isolate-scope" title="The Gap" description="San Francisco, CA" icon="account">
    <div class="icon icon--account bgs-100 sq-48 brm"></div>
    <h1 class="f-20 text-color-5 man ng-binding">
        The Gap, Inc
    </h1>
    <h2 class="f5 text-color-7 man pbm ng-binding">
        San Francisco, CA
    </h2>
</header>
    <div>
        <section class="dt w-100p bg-2 prm plm">
            <a href="javascript:void(0)" class="dtc a-mid size-1of3 ht-44 tc" ng-click="recordHomeFeed()">
                <span class="fw-semibold f6 caps text-color-2" ng-class="{'text-color-1': recordHomePage1, 'text-color-2': !recordHomePage1}">Feed</span>
            </a>
            <a href="javascript:void(0)" class="dtc a-mid size-1of3 ht-44 tc" ng-click="recordHomeDetails()">
                <span class="fw-semibold f6 caps text-color-2" ng-class="{'text-color-1': recordHomePage2, 'text-color-2': !recordHomePage2}">Details</span>
            </a>
            <a href="javascript:void(0)" class="dtc a-mid size-1of3 ht-44 tc" ng-click="recordHomeRelated()">
                <span class="fw-semibold f6 caps text-color-1" ng-class="{'text-color-1': recordHomePage3, 'text-color-2': !recordHomePage3}">Related</span>
            </a>
        </section>
        <section id="currentTab" class="pos-rel dt w-100p bg-2 prm plm border-bottom border--2">
            <article class="current bg-primary size-1of3 pos3" ng-class="{'pos1': recordHomePage1,'pos2': recordHomePage2,'pos3': recordHomePage3}"></article>
        </section>
    </div>

<div id="AboutThis">
    <article id="contact-summary" class="mam bg-1 brm ng-isolate-scope" body="Feedback from everyone else is welcome also! Please let me know what you think. I am desperate for your approval and appreciation. Shower me with love and affection. Fishing for compliments here." actor="Jenny Hancock" actorimage="http://placekitten.com/45/45">
        <li class="flag flag--top active--list-1 pam db mw-100p clearfix">
            <div class="flag--image prm fl">
                <img src="http://high-impact-prospecting.com/staging/work/wp-content/uploads/2014/01/datadotcom.jpg" width="30" height="30" alt="gt" class="brm mtxs">
            </div>
            <div class="flag--body db">
                <span class="db text-color-1 f3 ng-binding">Data.com - 20,000 contacts</span>
                <span class="db text-color-2 f6 ng-binding dots mw-100p">at The Gap, Inc of Western Europe and stuff ya knowat The Gap, Inc of Western Europe and stuff ya knowat The Gap, Inc of Western Europe and stuff ya knowat The Gap, Inc of Western Europe and stuff ya knowat The Gap, Inc of Western Europe and stuff ya knowat The Gap, Inc of Western Europe and stuff ya knowat The Gap, Inc of Western Europe and stuff ya know</span>
            </div>
        </li>
    </article>
    <article class="mam bg-1 brm ng-isolate-scope">
        <div class="flag pam">
            <div class="flag--image prm">
                <img src="https://s3.amazonaws.com/uifaces/faces/twitter/gt/128.jpg" width="45" height="45" alt="gt" class="brm">
            </div>
            <div class="flag--body">
                <a href="javascript:void(0)" name="actor" title="Geoff Teehan" class="fw-semibold f3 db">
                    Geoff Teehan
                </a>
                <time class="db f6 text-color-2" datetime="2013-11-13">29 minutes ago</time>
            </div>
        </div>
        <p class="phm mtn fw-normal f4 text-color-1">
            Feedback from everyone else is welcome also! Please let me know what you think. I am desperate for your approval and appreciation. Shower me with love and affection. Fishing for compliments here.
        </p>
        <article class="mhm brm mbm bg-3 pam">
            <div class="flag">
                <div class="flag--image prm">
                    <img src="../../stylesheets/assets/icons/doctype/excel.svg" class="ht-30" alt="excel">
                </div>
                <div class="flag--body">
                    <span class="f4 text-color-1 db">photo.pdf</span>
                    <span class="db f5 text-color-2">1.2 MB</span>
                </div>
            </div>
        </article>
        <footer class="clear pvm mhm border-top border--3">
            <a href="javascript:void(0)" name="like" title="Like" class="f5 fl">
                <span class="text-color-2 dib mrs icon-utility-like f4"></span>
                <span class="text-color-2">Like</span>
            </a>
            <span class="f5 fr mlm">5 comments</span>
            <span class="f5 fr">3 likes</span>
        </footer>
    </article>
 </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#contact-summary').click(function() {
            window.location = "contact-list4.html";
        });
        $('.cancelButton').click(function() {
            window.location = "contact-summary4.html";
        });
    });
</script>
</div>
</section>
</body>